@using System.Collections
@using System.Runtime.InteropServices
@using System.Web.Mvc.Html5
@using QOAM.Core
@using QOAM.Website.Helpers
@using QOAM.Website.ViewModels.Score
@model QOAM.Website.ViewModels.Score.ReqValuationViewModel

@{
    ViewBag.Title = "Valuation SC request sent";
}

@using (Html.BeginForm("Index", "Score", FormMethod.Get))
{
    <div class="container main">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Message sent
            </div>
            <div class="panel-body">
                <div class="row bottommargin">
                    <div class="col-xs-12">
                        @Html.DisplayFor(model => model.Message)
                    </div>
                </div>
                <div class="row bottommargin">
                    <div class="col-xs-10"></div>
                    <div class="col-xs-2">
                        <input type="submit" value="Return to scoring" class="btn btn-primary pull-right"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
