@{
    ViewBag.Title = "Academic libraries, guardians of the open access publishing domain";
}
<div class="container main">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <h2>B<span class="blue">o</span>n<span class="blue">a</span> fide, <span class="small black">a web site of trustworthy open access journals.</span></h2>

            <p>
                Author: Leo Waaijers. Director QOAM. Visiting researcher at the Centre for Science and Technology Studies, Leiden. ORCID <a href="https://orcid.org/0000-0003-1433-2543">https://orcid.org/0000-0003-1433-2543</a>. Email: Leo Waaijers <<a href="mailto:l.j.m.waaijers@cwts.leidenuniv.nl">l.j.m.waaijers@cwts.leidenuniv.nl</a>>.
            </p>
            <p>
                Key words: predatory journals; scholarly publishing; open access; academic libraries; QOAM; CWTS.
            </p>
            <p>
                How to cite:
            </p>

            <h3>Abstract</h3>
            <p>
                Predatory journals are a plague to open access scholarly publishing. So far, attempts to banish them seem to have failed. QOAM will undertake a new endeavor. For success, however, commitment of academic libraries will be critical. A ‘bazaar’, bringing together various non-profit initiatives providing journal information, an idea floated by Leiden University’s CWTS, would give QOAM’s initiative an extra dimension.
            </p>

            <h3>Rationale</h3>
            <p>
                Procuring a high-quality collection of books and journals has always been a core function of the academic library. Not anymore. Has the transition from paper to digital, or the migration from the subscription model to the open access model obviated this role? The emergence of predatory journals manifests otherwise. Libraries could prove their value once more.
            </p>
            <p>
                Currently, <a href="http://www.qoam.org/">QOAM</a> has 25.000 fully OA journals while the DOAJ has 14.000<sup>1</sup>.
                How about the balance of 11.000 journals? Are these all predatory, or dubious journals?
                The Norwegian scientist Jan Erik Frantsvåg conducted a thorough analyses of journals removed from DOAJ in the 2016 cleansing operation.
                His resonating conclusion is “that there is nothing […] that indicates that the journals that were removed were of inferior scholarly quality compared to those remaining.” (<span class="gold">Frantsvåg, 2019</span>). Today, it seems a reasonable hypothesis that this conclusion may be extrapolated to the 11.000 OA journals in QOAM but not in DOAJ. This set comprises predatory journals, e.g. from publisher OMICS (<span class="gold">Jeffrey Brainard, 2019</span>), next to a majority of honest journals from small publishing units in universities, from charities or small societies. In this mix the good suffer from the evil and a differentiating service is urgently needed (<span class="gold">Dony, Raskinet, Renaville, Simon, Thirion, 2020</span>) (<span class="gold">Franciszek Krawczyk, Emanuel Kulczycki, 2020</span>)
            </p>
            <p>
                But this is not the only reason to combat predatory journals. The COVID pandemic saw a surge of questionable articles in these journals, sometimes unnoticed. A guest editorial in Elsevier’s Journal of Academic Librarianship warned in June 2020, “While the world is still centrally focused on COVID-19, the issue of “predatory publishing” is being ignored, or not being given sufficient attention. The risks to the scholarly community, academic publishing and ultimately public health are at stake when exploitative and predatory publishing are left unchallenged.” (<span class="gold">Teixeira da Silva, J.A., 2020</span>)
            </p>
            <p>
                Last year, an international team of leading scholars and publishers commented in Nature, “So far, disparate attempts to address predatory publishing have been unable to control this ever-multiplying problem.
                The need will be greater as authors adjust to Plan S and other similar mandates, which will require researchers to publish their work in open-access journals or platforms if they are funded by most European agencies, the World Health Organization, the Bill & Melinda Gates Foundation and others.” (<span class="gold">Kobey, K.D., et al. 2019</span>)
                Indeed, the Plan S Journal Checker Tool grants OMICS journals the predicate ‘compliant’ <sup>1</sup>. This disturbing new development falsely lends prestige to these journals and makes funders pay the publication fee for questionable articles.
            </p>
            <p>
                It is here where libraries may come to the fore again. Not, like in the old days, every library working in isolation for their own institution, but this time working interoperably using the internet. Imagine a simple facility enabling libraries to express their trust in a journal by completing for that journal the following line: “The library of (name institution) confirms the trustworthiness of (name journal).” A library may do so for any number of journals, depending on its aspirations. For example, for journals of their own institution or in their repository; authors may ask the library to have a pre-emptive look at a journal; publishers may solicit a token of trust from a library, etc.
            </p>

            <h3>Bona fide journals</h3>
            <p>
                Under the auspices of the Centre for Science and Technology Studies (<a href="https://www.cwts.nl/">CWTS, Leiden</a>), QOAM has set up a freely available list of
            </p>
            <p class="text-center">
                <strong>B<span class="blue">o</span>n<span class="blue">a</span> Fide Journals - BFJ <br /></strong>
                <a href="https://www.qoam.eu/bfj">https://www.qoam.eu/bfj</a>
            </p>
            <p>For now, BFJ will be a subdomain of QOAM. Eventually, BFJ will have its own domain.</p>
            
            <h3>BFJ sources</h3>
            <p>
                The list of bona fide journals will include:
                <br />
                <ul>
                    <li>
                        no-fee journals (because, naturally, a no-fee journal cannot be predatory).
                        Source: QOAM. The no-fee journals in QOAM come from DOAJ, platforms like Scielo, Redalyc, OpenEdition, African Journals Online, and from publishers upon request.
                    </li>
                    <li>
                        journals in DOAJ (because they have passed a thorough vetting procedure).
                        Source: DOAJ. DOAJ labels in BFJ are updated weekly.
                    </li>
                    <li>
                        hybrid journals contracted by libraries or funders (e.g. via Transformative Agreements).
                        Source: Plan S, publishers upon request. The Plan S Journal Checker Tool has a (complete?) list of transformative agreements: <a href="https://journalcheckertool.org/transformative-agreements">https://journalcheckertool.org/transformative-agreements</a>

                    </li>
                    <li>
                        journals which have gained the trust of three or more different libraries.
                        Source: libraries (see below).
                    </li>
                </ul>
                <br />
                These journals will be coloured blue in the complete list of journals. Journals trusted by just one or two libraries are light blue (see below). The remaining journals are listed in grey.
            </p>

            <hr />
            <p>
                <sup>1</sup>
                <span class="small">
                    Tested on 12-20-2020 with issns 2168-9695 and 2475-7675. Journals of controversial publisher Bentham are also ‘compliant’, e.g. 1874-4346 and 1874-3129.
                </span>
            </p>
        </div>
    </div>
</div>