@{
    ViewBag.Title = "Academic libraries, guardians of the open access publishing domain";
}
<div class="container main">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <p>
                Procuring a high-quality collection of books and journals has always been a core function of the academic library. Not anymore. Has the transition from paper to digital, or the migration from the subscription model to the open access model obviated this role? The emergence of predatory journals manifests otherwise.
                Libraries could prove their value once more.
            </p>
            <p>
                Currently, <a href="http://www.qoam.org/">QOAM</a> has 25.000 fully OA journals while the <a href="https://doaj.org/">DOAJ</a> has 14.000.
                How about the balance of 11.000 journals? Are these all predatory, or dubious journals? The Norwegian scientist Jan Erik Frantsvåg conducted a thorough analyses of journals removed from DOAJ in the 2016 cleansing operation.
                His resonating conclusion is “that there is nothing […] that indicates that the journals that were removed were of inferior scholarly quality compared to those remaining.” <sup>1</sup>. Today, it seems a reasonable hypothesis to extrapolate this conclusion to the 11.000 OA journals in QOAM but not in DOAJ.
                This set comprises predatory journals, e.g. from publisher OMICS <sup>2</sup>, next to a majority of honest journals from small publishing units in universities, from charities or small societies.
                In this mix the good suffer from the evil and a differentiating service is urgently needed. <sup>3,4</sup>
            </p>
            <p>
                Last year, an international team of leading scholars and publishers commented in Nature, 
                “So far, disparate attempts to address predatory publishing have been unable to control this ever-multiplying problem. The need will be greater as authors adjust to Plan S and other similar mandates, which will require researchers to publish their work in open-access journals or platforms if they are funded by most European agencies, the World Health Organization, the Bill & Melinda Gates Foundation and others.” <sup>5</sup>. Indeed, the Plan S Journal Checker Tool grants some seemingly predatory journals the predicate ‘compliant’ <sup>6</sup>. 
                This disturbing new development falsely lends prestige to these journals and makes funders pay the publication fee for questionable articles.
            </p>
            <p>
                It is here where libraries may come to the fore again. Not, like in the old days, every library working in isolation for their own institution, but this time working interoperably using the internet. Imagine a simple facility enabling libraries to express their trust in a journal by completing for that journal the following line: “The library of (name institution) confirms the trustworthiness of (name journal).” A library may do so for any number of journals, depending on its aspirations. For example, for journals of their own institution or in their repository; authors may ask the library to have a pre-emptive look at a journal; publishers may solicit a token of trust from a library, etc. Thus, libraries may become the guardians of the open access publishing domain, like they once protected the reading domain.
            </p>
            
            <h3>Potential users</h3>
            <p>
                Potential users of the list are authors who want to make certain in advance that they are not trapped by a fraudulent journal. They could use the Compass to Publish, of course, but answering the 26 questions, including checking the indicated websites, easily takes half an hour per journal for a non-professional. In contrast, Bona Fide Journals gives a prompt result.
                The other group of users may be bottom-up services in the open access publishing domain which want to start with a ‘clean’ list of journals. The services may concern: peer review, editing, data transparency, speed of publication, author evaluation, or publication fee. Or Plan S, for that matter. Such services exist, but are fragmented. Using Bona Fide Journals as their journal base obscures the predatory journals in these services and may be a first step on the way to aligning them.
            </p>

            <hr />
            <p>
                <sup>1</sup>
                <span class="small">
                    Jan Erik Frantsvåg, The DOAJ Spring Cleaning 2016 and What Was Removed—Tragic Loss or Good
                    Riddance? 27 June 2019. <a href="https://doi.org/10.18710/KCL56N">https://doi.org/10.18710/KCL56N</a>
                </span>
            </p>
            <p>
                <sup>2</sup>
                <span class="small">
                    Jeffrey Brainard, U.S. judge rules deceptive publisher should pay $50 million in damages. 3 April 2019. <a href="https://www.sciencemag.org/news/2019/04/us-judge-rules-deceptive-publisher-should-pay-501-million-damages">https://www.sciencemag.org/news/2019/04/us-judge-rules-deceptive-publisher-should-pay-501-million-damages</a>
                </span>
            </p>
            <p>
                <sup>3</sup>
                <span class="small">
                    Dony, C., Raskinet, M., Renaville, F., Simon, S. and Thirion, P. How reliable and useful is Cabell's Blacklist? A data-driven analysis. 10 September 2020. <a href="http://doi.org/10.18352/lq.10339">http://doi.org/10.18352/lq.10339</a>
                </span>
            </p>
            <p>
                <sup>4</sup>
                <span class="small">
                    Franciszek Krawczyk, Emanuel Kulczycki. How is open access accused of being predatory? The impact of Beall's lists of predatory journals on academic publishing. 10 November 2020. <a href="https://doi.org/10.1016/j.acalib.2020.102271">https://doi.org/10.1016/j.acalib.2020.102271</a>
                </span>
            </p>
            <p>
                <sup>5</sup>
                <span class="small">
                    Kobey, K.D. et al. Predatory journals: no definition, no defense. 11 December 2019. <a href="https://doi.org/10.1038/d41586-019-03759-y">https://doi.org/10.1038/d41586-019-03759-y</a>
                </span>
            </p>
            <p>
                <sup>6</sup>
                <span class="small">
                    Tested on 12-20-2020 with OMICS journals 2168-9695 and 2475-7675. Journals of controversial publisher Bentham also pop up as Plan S compliant, e.g. 1874-4346 and 1874-3129. <a href="https://journalcheckertool.org/">https://journalcheckertool.org/</a>
                </span>
            </p>
        </div>
    </div>
</div>