<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="import" type="RU.Uci.OAMarket.Domain.Import.ImportSettings, Domain">
            <section name="doaj" type="RU.Uci.OAMarket.Domain.Import.DoajSettings, Domain" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <import>
        <doaj csvUrl="http://www.doaj.org/doaj?func=csv" />
    </import>
</configuration>