<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="import" type="RU.Uci.OAMarket.Domain.Import.ImportSettings, Domain">
            <section name="general" type="RU.Uci.OAMarket.Domain.Import.GeneralImportSettings, Domain" requirePermission="false" />
            <section name="ulrichs" type="RU.Uci.OAMarket.Domain.Import.UlrichsSettings, Domain" requirePermission="false" />
            <section name="doaj" type="RU.Uci.OAMarket.Domain.Import.DoajSettings, Domain" requirePermission="false" />
        </sectionGroup>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="TODO" providerName="TODO" />
    </connectionStrings>
    <import>
        <general batchSize="100" />
        <ulrichs username="TODO" password="TODO" cacheDirectory="TODO" filterActive="true" />
        <doaj csvUrl="http://www.doaj.org/doaj?func=csv" />
    </import>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory>
    </entityFramework>
</configuration>