@{
    ViewBag.Title = "Something went wrong with your registration!";
}
<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>

            <p>Something went wrong with your Quality Open Access Marker registration! Please @Html.ActionLink("try again", "Register", "Account") or contact us via the @Html.ActionLink("contact form", "Contact", "Home").</p>

        </div>
    </div>
</div>