@{
    ViewBag.Title = "Thank you for registering!";
}
<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            
            <p>Thank you for registering with Quality Open Access Marker! Please @Html.ActionLink("log in", "Login", "Account") to access the Scoring section.</p>

        </div>
    </div>
</div>