@{
    ViewBag.Title = "Your password has been reset!";
}
<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>

            <p>Your password has been reset! Please @Html.ActionLink("log in", "Login", "Account") to access the Scoring section.</p>

        </div>
    </div>
</div>