@{
    ViewBag.Title = "Reset your password";
}
<div class="container main">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>

            <p>Your password reset is pending! Please check your mailbox for futher details on resetting your password. If you have any trouble, please contact us via the @Html.ActionLink("contact form", "Contact", "Home").</p>

        </div>
    </div>
</div>