<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="import" type="QOAM.Core.Import.ImportSettings, QOAM.Core">
            <section name="doaj" type="QOAM.Core.Import.DoajSettings, QOAM.Core" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <import>
        <doaj csvUrl="http://www.doaj.org/doaj?func=csv" />
    </import>
</configuration>