<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog configSource="NLog.Staging.config" xdt:Transform="SetAttributes" />
  <connectionStrings configSource="ConnectionStrings.Staging.config" xdt:Transform="SetAttributes" />
  <expirationChecker configSource="ExpirationChecker.Staging.config" xdt:Transform="SetAttributes" />
</configuration>