<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="expirationChecker" type="RU.Uci.OAMarket.Domain.Services.ExpirationCheckerSettings, Domain" requirePermission="false" allowLocation="true" />
    </configSections>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="TODO" providerName="TODO" />
    </connectionStrings>
    <expirationChecker
        soonToBeArchivedWindow="30.00:00:00"
        soonToBeArchivedMailMessage="Dear [username],[newline][newline]Your Score Card for the [journaltitle] journal will expire in 30 days. After expiring on [journalexpirationdate], it will not be used in the journal's Base Score calculation. You can prevent this from happening by re-publishing the score card at the following page: [journalScoreUrl]/[journalid]/.[newline][newline]With regards[newline][newline]The QOAM team"
        soonToBeArchivedMailSubject="[QOAM] - A Score Card of yours will expire in 30 days"
        almostArchivedWindow="7.00:00:00"
        almostArchivedMailMessage="Dear [username],[newline][newline]Your Score Card for the [journaltitle] journal is about to expire. After expiring on [journalexpirationdate], it will not be used in the journal's Base Score calculation. You can prevent this from happening by re-publishing the score card at the following page: [journalScoreUrl]/[journalid]/.[newline][newline]With regards[newline][newline]The QOAM team"
        almostArchivedMailSubject="[QOAM] - A Score Card of yours is about to expire"
        archivedMailMessage="Dear [username],[newline][newline]Your Score Card for the [journaltitle] journal has expired. It will no longer be used in the journal's Base Score calculation. You can re-publishing the score card at the following page: [journalScoreUrl]/[journalid]/.[newline][newline]With regards[newline][newline]The QOAM team"
        archivedMailSubject="[QOAM] - A Score Card of yours has expired"
        journalScoreUrl="TODO"
        mailSender="TODO"
        mailSenderName="TODO"
        smtpHost="TODO"
        />
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory>
    </entityFramework>
</configuration>