@helper MenuItemClass(string menuItem, string additionalClass = "")
{
    var selectedMenuItem = (string)ViewBag.SelectedMenuItem;
    var isActive = menuItem.Contains("/") ? menuItem == selectedMenuItem : selectedMenuItem.StartsWith(menuItem);

    if (isActive)
    {
        <text>class="active @(additionalClass)"</text>
    }
}

<div class="navbar navbar-inverse plan-s">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/images/logo-plans.png"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://www.coalition-s.org/why-plan-s/" target="_blank"><i class="glyphicon glyphicon-info-sign"></i> About</a></li>
                <li><a href="https://www.coalition-s.org/funders/" target="_blank">Plan S Funders</a></li>
                <li><a href="#">My Plan S List</a></li>
                <li><a href="#">Plan S Corner</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>