@model QOAM.Website.ViewModels.Journals.CommentsViewModel

@if (Model.CommentedValuationScoreCards.Count == 0)
{
    <p>No valuation score cards comments have been made on this journal</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Valuation Score Card Reviewer</th>
                <th style="width: 12%">Date</th>
                <th style="width: 48%">Comment</th>
                <th style="width: 10%">Action</th>
            </tr>
        </thead>
        <tbody id="@Model.Id-valuationScoreCardComments">
            @Html.Partial("ValuationScoreCardComments", Model)
        </tbody>
        <tfoot id="loadMoreValuationScoreCardComments">
            @if (Model.CommentedValuationScoreCards.HasNextPage)
            {
                <tr>
                    <td colspan="4">
                        @Ajax.ActionLink("Load more", "ValuationScoreCardComments", new { Model.Id, Page = Model.Page + 1 }, new AjaxOptions
                                                                                                                                 {
                                                                                                                                     UpdateTargetId = this.Model.Id + "-valuationScoreCardComments",
                                                                                                                                     InsertionMode = InsertionMode.InsertAfter,
                                                                                                                                     OnSuccess = "afterLoadMore(data, 'loadMoreValuationScoreCardComments', 'loadMoreValuationScoreCardCommentsLink')"
                                                                                                                                 }, new { id = "loadMoreValuationScoreCardCommentsLink" })
                    </td>
                </tr>
            }
        </tfoot>
    </table>
}