@model QOAM.Website.ViewModels.Journals.CommentsViewModel

@if (Model.CommentedScoreCards.Count == 0)
{
    <p>No comments have been made on this journal</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Reviewer</th>
                <th>Date</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="@Model.Id-comments">
            @{ Html.RenderPartial("CommentsRows", Model); }
        </tbody>
        <tfoot id="loadMoreComments">
            @if (Model.CommentedScoreCards.HasNextPage)
            {
                <tr>
                    <td colspan="9">
                        @Ajax.ActionLink("Load more", "Comments", new { Model.Id, Page = Model.Page + 1 }, new AjaxOptions { UpdateTargetId = Model.Id + "-comments", InsertionMode = InsertionMode.InsertAfter, OnSuccess = "afterLoadMore(data, 'loadMoreComments', 'loadMoreCommentsLink')" }, new { id = "loadMoreCommentsLink" })
                    </td>
                </tr>
            }
        </tfoot>
    </table>
}