<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings configSource="ConnectionStrings.Staging.config" xdt:Transform="SetAttributes" />
    <import>
        <ulrichs configSource="Ulrichs.Staging.config" xdt:Transform="SetAttributes" />
    </import>
</configuration>