<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="import" type="QOAM.Core.Import.ImportSettings, QOAM.Core">
      <section name="doaj" type="QOAM.Core.Import.DoajSettings, QOAM.Core" requirePermission="false" />
      <section name="journaltocs" type="QOAM.Core.Import.JournalTOCs.JournalTocsSettings, QOAM.Core, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <import>
    <doaj csvUrl="http://www.doaj.org/doaj?func=csv" />
    <journaltocs sui="z7CsvQxb1udh849067j6" ip="3" baseUrl="http://www.journaltocs.ac.uk/API" allJournalsEndpoint="/QOAM.php" byIssnEndpoint="/RSS/GetJournalByIssn.php" test="true" />
  </import>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>