@{
    ViewBag.Title = "About QOAM";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "About"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <p>
                <strong>QOAM</strong> /kju:əʊm/ abbr. Quality Open Access Market. QOAM is a market place for scientific and scholarly journals which publish articles in open access.
            </p>

            <p>
                More in:
                <ul class="list-unstyled">
                    <li><em><a href="#quality-indicator">Quality indicator</a></em></li>
                    <li><em><a href="#price-information">Price information</a></em></li>
                    <li><em><a href="#privacy">Privacy policy</a></em></li>
                </ul>
            </p>

            <h3 id="quality-indicator">Quality indicator</h3>
            <p>
                QOAM is based on evaluations by academic authors. Via a concise journal score card they share their experience with the peer review and editorial board, and give a price-performance appreciation. 
                The robustness of a score is defined as 1 + logN, where N is the number of scorers. The ‘Quality indicator’ of a journal, as presented on QOAM’s journal page, is the product of the average journal score and its robustness. As a consequence, quality indicators in QOAM range from 1 (score 1 by 1 person) to 15 (score 5 by 100 persons).
                <br/>
                QOAM also mirrors the <a href="https://doajournals.wordpress.com/2015/06/11/doaj-seal-is-now-live-on-the-site/" target="_blank">DOAJ Seal of Approval</a>, an accrediation service for fully OA journals.
            </p>

            <h3 id="price-information">Price information</h3>
            <p>
                In QOAM, the publication fee of a journal is found behind the tab ‘Price information’ on the detail page of a journal under the respective headings ‘List price’ and ‘My discount’.
                The first one is gathered from the journal’s web site; information about institutional discounts comes from licence brokers, like <a href="https://www.surf.nl/en/about-surf/subsidiaries/surfmarket" target="_blank">SURFmarket</a>, publishers or libraries.
            </p>

            <h3 id="privacy">Privacy policy</h3>
            <p>
                QOAM is a free service, based on academic crowd sourcing. QOAM uses no cookies and can be visited anonymously. Conversely, author reviews in QOAM are named.<br/>
                In order to publish a score card in QOAM one has to log in via one’s institutional email address. In practice this means that QOAM collects the names and institutional email addresses of the reviewers. No other information is collected. The names are used to sign the score cards and are publicly visible. An author’s institutional email address, however, is only shown to other authors of score cards. No other uses of these data are foreseen.<br/>
                Underlying this policy are the views that (1) anonymous score cards are prone to misuse and should be avoided in QOAM and (2) authors of score cards should be able to contact each other for dialogue.<br/>
                Finally, QOAM uses the https protocol for secure exchange of data. QOAM data are stored in the Netherlands and governed by Dutch c.q. European law. 

            </p>
        </div>
    </div>
</div>