@{
    ViewBag.Title = "Plan S Journal Checker tool";
    Layout = "~/Views/Shared/_LayoutDemoPlanS.cshtml";
}

<div class="container">
    <div class="row mt-20">
        <div class="col-md-12">
            <p class="large-font text-center">
                Welcome to a @Html.ActionLink("demo", "PlanSInstitutionSelection") of the
            </p>
            <h1 class="text-center">Plan S Journal Checker tool</h1>
            <p class="large-font mt-20">
                The @Html.ActionLink("demo", "PlanSInstitutionSelection") is meant to give an impression of our approach to the tool.
                It is based on a sample of (about 500) journals and (14 Dutch) universities.
                Some buttons are not yet operational, like the similarity button &asymp; on the journals page. For now, info per journal has no practical meaning as Plan S will only be operational as of 1 January 2021.
            </p>
            <p class="large-font">
                The @Html.ActionLink("contact", "Contact", "Home") button, however, is linked to the contact box of QOAM and may be used for comments and questions. We look forward to hearing from you.
            </p>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-md-12 mt-20">
            <p class="large-font">
                The project partners:<br/>
                <a href="https://www.cwts.nl/" target="_blank">CWTS</a>, Leiden,<br />
                <a href="http://www.qoam.eu/" target="_blank">QOAM</a>, Amsterdam,<br />
                <a href="http://www.journaltocs.hw.ac.uk/" target="_blank">JournalTOCs</a>, Edinburgh.
            </p>
        </div>
    </div>
</div>