@{
    ViewBag.Title = "FAQ";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Faq"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <ul class="list-unstyled">
                <li><a href="#subscription-journals"><em>Why are subscription journals not included in QOAM?</em></a></li>
                <li><a href="#cant-find-journal"><em>Why don’t I find a specific journal in QOAM?</em></a></li>
                <li><a href="#no-metrics"><em>Why does QOAM not include metrics as a quality proxy?</em></a></li>
                <li><a href="#framing"><em>Is QOAM prone to improper use?</em></a></li>
                <li><a href="#login"><em>How can I log in to QOAM?</em></a></li>
            </ul>

            <h3 id="subscription-journals">Why are subscription journals not included in QOAM?</h3>
            <p>QOAM is in the overlap of three domains: (1) Quality, (2) Open Access, (3) Market. Do subscription journals fit into these domains?<br />Ad 1. Quality. Yes. The Journal Score Cards are business model neutral.<br />Ad 2. Open Access. No. Subscription is at odds with Open Access.<br />Ad 3. Market. No. The current Big Deal packages obscure any market idea.<br />So, subscription journals do not fit in QOAM.</p>

            <h3 id="cant-find-journal">Why don’t I find a specific journal</h3>
            <p>If an OA journal is not included in QOAM, please notify this via QOAM’s @Html.ActionLink("Contact box", "Contact"). We will include this journal in QOAM provided that it can be found in Ulrich’s or DOAJ’s database, currently the journal record resources that QOAM relies on.</p>

            <h3 id="no-metrics">Why does QOAM not include metrics as a quality proxy?</h3>
            <p>
                Metrics for QOAM must apply to young journals because most journals which are born OA are in their infancy.  This is the main reason for not including the Journal Impact Factor in QOAM. Honestly, the controversies over the JIF played a role as well.
            </p>

            <h3 id="framing">Is QOAM prone to improper use?</h3>
            <p>
                To avoid unqualified contributions to QOAM, only members of the academic community may log in to QOAM and publish Journal Score Cards. Per person only one JSC may be published for a specific journal. Published Journal Score Cards are non-anonymous and their authors may contact each other via the <a href="@Url.Action("Index", "Profiles")" title="Profiles section">Profiles section</a> of QOAM. Read more about QOAM’s <a href="@Url.Action("About")#privacy" title="Privacy policy">Privacy policy.</a><br />

                Currently, QOAM has no resources to organize top-down social control or moderation. We have to rely on academic vigilance. Jeffrey Beall’s <a href="http://scholarlyoa.com/individual-journals/" title="list of predatory journals">list of predatory journals</a> and John Bohannon’s article <a href="http://www.sciencemag.org/content/342/6154/60.full" title="Who is Afraid of Peer Review?">Who is Afraid of Peer Review?</a> are examples of this.
            </p>

            <div id="login"><h3 id="connect-institute">How can I log in to QOAM?</h3></div>
            <p>
                If you want to log in for the first time, please register with your institutional email address and a password of your choice. You will receive a prompt request to confirm your registration. Confirmation will activate your account. Next time you may log in directly. We have built in the option to submit your ORCID, provided you have one. Thus, you can be identified if you change institute, hence email address. For the moment, however, this service is not <span style="text-decoration: underline">yet</span> operational and you have to update your email address yourself.
            </p>
        </div>
    </div>
</div>