@model QOAM.Website.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Quality Open Access Marker";
}

<div class="carousel">
    <div class="carousel-inner">
        <div id="banner" class="item active">
            <img src="~/Content/images/banner4.jpg" alt="Quality Open Access Marker" />

            <div class="container">
                <div class="carousel-caption">
                    <span id="under-construction" class="text-center">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popover-container" style="display: none;">
    <div>
        <img src="@Url.Content("~/Content/images/banner-tooltip.png")" />
        <p class="popover-link">Pay a mini-visit at <a href='https://vimeo.com/151882443' target="_blank">https://vimeo.com/151882443</a></p>
    </div>
</div>

<div class="container main">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center"><strong style="color: #428bca">QOAM</strong> /kju:əʊm/ abbr. Quality Open Access Marker. The ‘Quality of Service indicator’ in QOAM marks the integrity and quality of the publishing service scientific and scholarly journals which publish articles in open access offer. The quality scoring is based on academic crowd sourcing.</p>
        </div>
    </div>

    <p class="text-center">
        <a href="@Url.Action("About", "Home")" class="topmargin">
            <span class="glyphicon glyphicon-info-sign" style="color:#222;"></span>
            About
        </a>
    </p>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a href="@Url.Action("Index", "Journals")">
                <div class="container-inner  text-center">
                    <span class="lead-large">
                        To the journals
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            var homeController = new HomeController();
            homeController.index();
        });
    </script>
}