@model QOAM.Website.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Quality Open Access Marker";
}

<div class="carousel">
    <div class="carousel-inner">
        <div id="banner" class="item active">
            <img src="~/Content/images/banner4.jpg" alt="Quality Open Access Marker" />

            <div class="container">
                <div class="carousel-caption">
                    <span id="under-construction" class="text-center">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popover-container" style="display: none;">
    <div>
        <img src="@Url.Content("~/Content/images/banner-tooltip.png")" />
        <p class="popover-link">Pay a mini-visit at <a href='https://vimeo.com/151882443' target="_blank">https://vimeo.com/151882443</a></p>
    </div>
</div>

<div class="container main">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center"><strong class="blue">QOAM</strong> /kju:əʊm/ abbr. Quality Open Access Marker. The ‘Quality of Service indicator’ in QOAM marks the integrity and quality of the publishing service scientific and scholarly journals which publish articles in open access offer. The quality scoring is based on academic crowd sourcing.</p>
        </div>
    </div>

    <p class="text-center">
        <a href="@Url.Action("About", "Home")" class="topmargin">
            <span class="glyphicon glyphicon-info-sign" style="color:#222;"></span>
            About
        </a>
    </p>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a href="@Url.Action("Index", "Journals")">
                <div class="container-inner  text-center">
                    <span class="lead-large">
                        To the journals
                    </span>
                </div>
            </a>
        </div>
    </div>

    <div class="row mt-40">
        <div class="col-md-10 col-md-offset-1">
            <h3 class="blue text-center mb-30">In Memoriam Leo Waaijers</h3>
            <p>
                Tot ons verdriet informeren wij u ook via dit platform dat Leo Waaijers, na een rijk en gevuld leven, vorig jaar op 1 augustus 2023 is overleden.
            </p>
            <p>
                Leo was een onvermoeibare strijder vóór Open Access en tegen de machtspositie van de grote wetenschappelijke uitgevers. Zijn nalatenschap is indrukwekkend. Hij scoorde nationale en internationale bekendheid met het opzetten van het succesvolle ‘Keur der wetenschap’ ofwel ‘Cream of Science’, een initiatief om aan de Open Access repositories van de universiteiten een kwaliteitsimpuls te geven door aan 200 vooraanstaande wetenschappers te vragen of zij al hun wetenschappelijke publicaties daarvoor wilden beschikbaar stellen. Hij ontving daarvoor in 2008 de SPARC Europe Award for Outstanding Achievements in Scholarly Communications.
            </p>
            <p>
                Hierna richtte Leo zijn aandacht op het wetenschappelijke uitgeefproces zelf en richtte Quality Open Access Market op. QOAM is bedoeld om de kwaliteit van een tijdschrift te laten bepalen door de auteurs zelf en daarmee de dominantie van de ’journal impact factor’ van een commerciële partij te doorbreken. Onvermoeibaar als altijd, publiceerde hij samen met collega’s van het CWTS in mei van 2023 nog een pleidooi om een publicatie-infrastructuur te bouwen buiten de uitgevers om.
            </p>
            <p>
                Leo is de drijvende kracht achter QOAM geweest. Het bestuur van QOAM beraadt zich in januari ’24 over de voortgang van dit initiatief. Tot er een opvolger is gevonden wordt de mogelijkheid om te mailen en te reageren via deze website gesloten.
            </p>
            <p>
                De Open Access beweging zal Leo’s ideeën en initiatieven node missen.
            </p>
            
            <hr/>
            
            <p>
                It is with great sadness that we inform you through this platform that Leo Waaijers, after a rich and fulfilled life, passed away on August 1, 2023.
            </p>
            <p>
                Leo was a tireless fighter for Open Access and against the power position of the major scientific publishers. His legacy is impressive: he achieved national and international recognition for setting up the successful 'Keur der wetenschap' (Cream of Science), an initiative to give a quality boost to the Open Access repositories of universities by asking 200 leading scientists to make all their scientific publications available for this purpose. In 2008, he received the SPARC Europe Award for Outstanding Achievements in Scholarly Communications for this work.
            </p>
            <p>
                Then Leo turned his attention to the scientific publishing process itself and founded the Quality Open Access Market (QOAM). QOAM is meant to let the quality of a journal be determined by the authors themselves, thereby breaking the dominance of the 'journal impact factor' of a commercial party. Tireless as always, in May 2023 he published, together with colleagues from CWTS, a plea to build a publication infrastructure outside of publishers.
            </p>
            <p>
                Leo has been the driving force behind QOAM. The board of QOAM will deliberate in January '24 on the continuation of this initiative. Until a successor is found, the ability to email and respond via this website will be closed.
            </p>
            <p>
                The Open Access movement will greatly miss Leo's ideas and initiatives.
            </p>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            var homeController = new HomeController();
            homeController.index();
        });
    </script>
}