@{
    ViewBag.Title = "Manuals";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Manuals"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <ul class="list-unstyled">
                <li><a href="#invite"><em>Personal invitation to complete a Valuation Score Card</em></a></li>
                <li><a href="#base-score-card"><em>Points of attention when completing a Base Score Card</em></a></li>
            </ul>

            <h3 id="invite">Personal invitation to complete a Valuation Score Card</h3>
            <p>
                <em>Necessary ingredients</em>
                <ul>
                    <li>The ISSN of a journal with a freshly published open access article</li>
                    <li>The institutional email address of the author of the article</li>
                </ul>
            </p>
            <p>
                <em>The invitation</em>
                <ol>
                    <li>Go to the journals page of QOAM @Html.ActionLink("QOAM", "Index", "Journals") and select the journal you want to be scored by filling in its ISSN in Select and press ‘Search’.</li>
                    <li>The journal line pops up. Clicking it brings you to the detail page of the journal.</li>
                    <li>
                        Click on <strong>Invite someone else to do so</strong> in the lower text box on the right side. The draft invitation pops up.
                        <img style="width: 100%;" src="~/Content/images/faq/invite-preparation-step-4.png" />
                    </li>
                    <li>
                        Fill in the email address of the author in the ‘To’ field and flavour the draft invitation if desired e.g. by replacing ‘Sir/Madam’ with the author’s name, undersigning the invitation yourself, adding something personal, etc.
                    </li>
                    <li>Press the Send mail button.</li>
                </ol>
            </p>
            <p><em>At the receiving end</em></p>
            <p>
                The author of the article receives your invitation. The bottom line has a link to QOAM’s Valuation Score Card for the journal. If the author clicks on this there are two options:
                <ul>
                    <li>The author visits QOAM for the first time. In that case (s)he is asked to give a user name and a password.</li>
                    <li>The author has been in QOAM before. In that case (s)he is asked to transmit his existing password.</li>
                </ul>
                Upon this step the Valuation Score Card pops up with a few questions about the journal.
                <img style="width: 100%;" src="~/Content/images/faq/invite-preparation-step-completion.png" />
            </p>
            <p>Completion of the Card takes a few minutes. By pressing ‘Publish your Score Card’ the meal is over. Fast food indeed.</p>

            <h3 id="base-score-card">Points of attention when scoring Base Score Cards</h3>
            <p>
                <em>General</em><br />
                <ul>
                    <li>Base Score Cards are based on the information on the website of the journal. In QOAM, you could click on the title of the journal to be directed to the corresponding website. By using the right mouse button you may choose whether to do so in a new tab or a new window.</li>
                    <li>QOAM uses a scoring system from “1. Absent” to “5. Excellent”. Don’t be afraid to use these extremes! You could use the middle scores to indicate that one or several parts of the aspect are missing, for instance that the aims and scope of the journal are specified on the website, but the target audience isn’t.</li>
                </ul>
            </p>
            <p>
                <em>The aspect Peer Review</em><br />
                <ul>
                    <li>“The website indicates whether all submissions are sent out for review.” The keyword in this aspect is “indicates”. It’s not about whether the submissions are reviewed or not, but whether the website indicates something about this.</li>
                </ul>
            </p>
            <p>
                <em>The aspect Process</em><br />
                <ul>
                    <li>Indications of a “track & trace service” are often briefly mentioned near a login button for authors, e.g. “To submit an article online, and to check the status of your submission, you need to have an account with […]”.</li>
                    <li>“Published papers include information on dates of original submission and acceptance” is about the submission date (before the review process) and the acceptance date (after the review process and before the definite publication of the article). The publication date isn’t relevant for this aspect.</li>
                    <li>The ‘Digital Object Identifier’ is usually abbreviated to DOI. It could look as follows: http://doi.org/10.1000/182. </li>
                    <li>A synonym for “Publication Fee” is “Article Processing Charges”.</li>
                </ul>
            </p>
            <p>
                <em>Special attention: Reviewer’s comments vs. commentaries by the community</em><br />
                <ul>
                    <li>“Reviewer’s comments” are the comments that are given by the reviewers during the peer review process, before the definite publication of the article in the journal.</li>
                    <li>“Commentaries by the community” are the comments that are given by the readers of the article, after the definite publication of the article in the journal.</li>
                </ul>
            </p>
            <p>
                <em>Special attention: Indexing service vs. repository</em><br />
                <ul>
                    <li>An “indexing service” is a database which refers to an article. To read the article, one has to visit the journal’s website.</li>
                    <li>A “repository” is a database which includes an article. To read this article, one doesn’t have to leave the repository’s website.</li>
                </ul>
            </p>
        </div>
    </div>
</div>
