@{
    ViewBag.Title = "Organisation";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Organisation"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <p>
                QOAM – Quality Open Access Market – has been founded in 2012 by two volunteers, Leo Waaijers and Saskia de Vries.
                With help from the Radboud University and SURFmarket they have set up an academic agora where libraries and authors work closely together. The development was made possible by a grant from the PICA foundation. The duration of this grant ends summer 2016. Currently the continuation of QOAM is at stake.  A <a href="~/Content/documents/16-06-21-QOAM-sustainability-plan.pdf" target="_blank">QOAM Sustainability Plan</a> has been developed by an international expert workshop.
            </p>
        </div>
    </div>
</div>