@{
    ViewBag.Title = "Organisation";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Organisation"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>
            <h4><em>September 2020</em></h4>
            <p>
                Quality Open Access Market - QOAM – is a foundation under Dutch law, founded April 8th, 2019.
                Until then QOAM was a private initiative of two volunteers, Leo Waaijers <a href="http://orcid.org/0000-0003-1433-2543">(http://orcid.org/0000-0003-1433-2543)</a> and Saskia de Vries.

                @*With help from the Radboud University and SURFmarket they have set up an academic agora where libraries and authors work closely together. The development was made possible by a grant from the PICA foundation. The duration of this grant ends summer 2016. Currently the continuation of QOAM is at stake.  A <a href="~/Content/documents/16-06-21-QOAM-sustainability-plan.pdf" target="_blank">QOAM Sustainability Plan</a> has been developed by an international expert workshop.*@
            </p>

            <h4 class="mt-20">Board</h4>
            <table class="table borderless">
                <tbody>
                    <tr>
                        <td>Chair:</td>
                        <td width="80%">
                            Johan Rooryck, professor of French litature at the University of Leiden,
                            <a href="https://www.coalition-s.org/oa-champion-announced/" target="_blank">Open Access Champion</a> for Plan S, president <a href="https://www.fairopenaccess.org/" target="_blank">Fair Open Access Alliance</a>.
                        </td>
                    </tr>
                    <tr>
                        <td>Treasurer:</td>
                        <td>Jos Baeten, professor of Theory of Computing at the University of Amsterdam, general director <a href="https://www.cwi.nl/" target="_blank">Centrum Wiskunde & Informatica</a>, Amsterdam.</td>
                    </tr>
                    <tr>
                        <td>Member:</td>
                        <td>Lieke Schultze, librarian <a href="https://www.cwi.nl/" target="_blank">Centrum Wiskunde & Informatica</a>, Amsterdam.</td>
                    </tr>
                    <tr>
                        <td>Member:</td>
                        <td>Jan Velterop, retired science publisher, <a href="https://en.wikipedia.org/wiki/Jan_Velterop" target="_blank">https://en.wikipedia.org/wiki/Jan_Velterop</a>.</td>
                    </tr>
                    <tr>
                        <td>Member:</td>
                        <td>Thed van Leeuwen, senior researcher CWTS, Leiden.</td>
                    </tr>
                </tbody>
            </table>
            <h4 class="mt-20">Advisory Board</h4>
            <p>
                Pierre Mounier, <a href="https://www.openedition.org/" target="_blank">OpenEdition</a> <br />
                Abel Packer, <a href="https://scielo.org/" target="_blank">SciElo</a> <br />
                Arianna Becerril-García, <a href="https://www.redalyc.org/" target="_blank">Redalyc</a> <br />
                Maurits van der Graaf, <a href="https://pleiade.nl/" target="_blank">Pleiade</a> <br />
                Jon Tennant, &#10013; April 9, 2020
            </p>

            <h4 class="mt-20">Sustainability</h4>
            <p>
                In 2016 an international expert workshop developed the <a href="https://www.qoam.eu/Content/documents/16-06-21-QOAM-sustainability-plan.pdf" target="_blank">QOAM Sustainability Plan</a>
                which is still the leading strategy document, although the Base Score Cards in QOAM have been discarded.
            </p>

            <h4 class="mt-20">Sponsoring</h4>
            <p>
                Sponsored by (since 2013): <a href="https://www.surffoundation.nl/" target="_blank">SURF Foundation</a> (€ 13.000), <a href="https://www.surf.nl/cooperatie-surf/stichting-pica" target="_blank">Stichting Pica</a> (€ 50.000),
                <a href="https://www.fairopenaccess.org/" target="_blank">Fair Open Access Alliance</a> (€ 1200), <a href="https://www.cwi.nl/" target="_blank">Centrum Wiskunde & Informatica</a> (€ 8900).
                In kind contribution: <a href="https://www.ru.nl/" target="_blank">Radboud University</a> is hosting the QOAM web site.
            </p>

            <h4 class="mt-20">Providers</h4>
            <p>
                Herriot Watt University: JournalTOCs database (<a href="http://www.journaltocs.ac.uk/" target="_blank">www.journaltocs.ac.uk/</a>).<br/>
                Sergi Papaseit Valls: software development (<a href="https://www.codenamed.cloud" target="_blank">CodeNamed</a>).<br />
                SURFmarket, publishers and publishing platforms: data on journal publishing conditions.<br />
                Scientific and scholarly authors: journal score cards.
            </p>

            <p>
                QOAM web sites: <a href="https://www.qoam.eu/">qoam.eu</a> and <a href="https://www.qoam.org/">qoam.org</a>.
            </p>
        </div>
    </div>
</div>