@using System.Web.Optimization
@model QOAM.Website.ViewModels.Home.DemoPlanSViewModel
@{
    ViewBag.Title = "Demo Plan S";
    Layout = "~/Views/Shared/_LayoutDemoPlanS.cshtml";
}

<div class="container">
    <div class="row mt-20">
        <div class="col-md-12 mt-20">
            <p class="large-font">
                Dear author,
                <br /><br />
                If your research is (co-)financed by a Coalition S funder you must retain the copyright of your published results and guarantee that they will be openly and freely available with
                a <a href="https://wellcome.ac.uk/funding/guidance/creative-commons-attribution-licence-cc" target="_blank">CCBY license</a> upon the day of publication.
            </p>
            <p class="large-font">
                These conditions will be met, and your publication fee will be waived by your funder, if you publish your article in a <span class="gold">gold journal</span> on the Plan S list.
                The <span class="green">green journals</span> on this list allow you to self-archive the accepted version of your article with no embargo in a repository.
                This also meets your funder’s conditions.
            </p>
            <p class="large-font">
                The non-coloured journals on the list do not meet these conditions.
            </p>
            <p class="large-font">
                The colours on the list are institution specific and appear upon choosing your institution below.
            </p>
            <p>
                @using (Html.BeginForm("PlanSInstitutionSelection", "Home"))
                {
                    @Html.DropDownListFor(m => m.InstitutionId, Model.Institutions, new { @class = "form-control", onchange = "this.form.submit();" })
                }
            </p>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-md-12 mt-20">
            <p class="large-font">
                NB If you submit your article to a <span class="green">green journal</span> in the list don't forget to archive the accepted version in a <a href="http://v2.sherpa.ac.uk/opendoar/">registered repository</a>
            </p>
        </div>
    </div>
</div>

@section stylesheets
{
    @Styles.Render("~/styles/chosen")
}

@section scripts
{
    @Scripts.Render("~/scripts/chosen")

    @Html.Partial("_FormScripts")

    <script type="text/javascript">
        $(function () {
            var homeController = new HomeController();
            homeController.demoPlanS();
        });
    </script>
}
