@{
    ViewBag.Title = "References";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "References"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <h3>Links</h3>

            <ul>
                <li><a href="http://blog.scielo.org/en/2016/06/13/the-best-of-both-worlds/" title="The best of both worlds">The best of both worlds</a>. <a href="https://en.wikipedia.org/wiki/Jan_Velterop" title="Jan Velterop">Jan Velterop</a></li>
                <li><a href="http://www.fwf.ac.at/en/news-and-media-relations/news/detail/nid/20150217-2105/" title="New tool assessing academic journals. ">New tool assessing academic journals. FWF Austrian Science Fund</a></li>
                <li><a href="http://www.lmba.lt/en/news/new-tool-assessing-academic-journals" title="New tool assessing academic journals">New tool assessing academic journals. Lithuanian Research Library Consortium</a></li>
                <li><a href="http://openaccess.nl/nl/actueel/qoam-informatie-over-kwaliteit-oa-journals" title="Dutch National Open Access website">Dutch National Open Access website</a></li>
                <li><a href="http://oapus.nl/programs/under-consideration/authorship-in-transition/" title="Open Access Publishing Services">Open Access Publishing Services</a></li>
                <li><a href="http://www.sciencemag.org/content/338/6110/1018.summary" title="As Open Access Explodes, How to Tell the Good From the Bad and the Ugly?">As Open Access Explodes, How to Tell the Good From the Bad and the Ugly?</a> <a href="https://www.sciencemag.org/author/martin-enserink" title="Martin Enserink">Martin Enserink</a></li>
            </ul>


            <h3>Publications</h3>

            <ul>
                <li>
                    <a href="~/Content/documents/Concise-comparison-of-QOAM-and-the-Dutch-Journal-Browser.pdf" target="_blank" title="Two market places for academic journals compared: QOAM and Journal Browser">Two market places for academic journals compared: QOAM and Journal Browser.</a> Leo Waaijers.
                    <br />
                    A concise comparison of the new Dutch market place Journal Browser and QOAM.
                    <br /><br />
                </li>
                <li>
                    <a href="~/Content/documents/16-06-21-QOAM-sustainability-plan.pdf" target="_blank" title="QOAM sustainability plan">QOAM sustainability plan</a>. <a href="http://www.pleiade.nl/" title="Pleiade Management and Consultancy BV">Pleiade Management and Consultancy BV</a>
                    <br />
                    An international expert workshop was held to discuss the possibilities for an economic model to sustain QOAM – Quality Open Access Market.
                    <br /><br />
                </li>
                <li>
                    <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0147913" title="Peer Review Quality and Transparency of the Peer-Review Process in Open Access and Subscription Journals. Jelte Wicherts">Peer Review Quality and Transparency of the Peer-Review Process in Open Access and Subscription Journals</a>. <a href="https://www.tilburguniversity.edu/webwijs/show/j.m.wicherts.htm" title="Jelte Wicherts">Jelte Wicherts</a>
                    <br />
                    The transparency of a journals web site about the peer-review process predicts academic quality in new journals. QOAM measures this transparency via its Base Score Card.
                    <br /><br />
                </li>

                <li>
                    <a href="http://liber.library.uu.nl/index.php/lq/article/view/9911/10463" title="Danielle van Gerestein. Quality Open Access Market and Other Initiatives: A Comparative Analysis">Quality Open Access Market and Other Initiatives: A Comparative Analysis</a> Danielle van Gerestein.
                    <br />The article compares QOAM to the following initiatives:
                    <ul style="margin-top: 0">
                        <li><a href="http://www.doaj.org/" title="Directory of Open Access Journals (DOAJ)">Directory of Open Access Journals (DOAJ)</a></li>
                        <li><a href="http://www.journalreviewer.org/index.php" title="JournalReviewer">JournalReviewer</a></li>
                        <li><a href="http://www.scirev.sc/" title="SciRev">SciRev</a></li>
                        <li><a href="http://www.journalysis.org/" title="Journalysis">Journalysis</a></li>
                        <li><a href="http://www.journalguide.com/" title="JournalGuide">JournalGuide</a></li>
                        <li><a href="http://www.pre-val.org/" title="PRE-val">PRE-val</a></li>
                        <li><a href="http://www.eigenfactor.org/openaccess/" title="Eigenfactor.org">Eigenfactor.org</a></li>
                    </ul>
                    <br />
                </li>
                <li>
                    <a href="https://openaccess.leidenuniv.nl/handle/1887/28943" title="Methods to stop predatory journals. Margot Wehrmeijer">Methods to stop predatory journals.</a> Margot Wehrmeijer.
                    <br />
                    This thesis looks at three possible methods to stop predatory journals: black- and white-lists, open peer review systems and new metrics.
                </li>
            </ul>

        </div>
    </div>
</div>