@{
    ViewBag.Title = "References";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "References"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <h3>Links</h3>
            
            <ul>
                <li><a href="http://blog.scielo.org/en/2016/06/13/the-best-of-both-worlds/" title="The best of both worlds">The best of both worlds</a>. <a href="https://en.wikipedia.org/wiki/Jan_Velterop" title="Jan Velterop">Jan Velterop</a></li>
                <li><a href="http://www.fwf.ac.at/en/news-and-media-relations/news/detail/nid/20150217-2105/" title="New tool assessing academic journals. ">New tool assessing academic journals. FWF Austrian Science Fund</a></li>
                <li><a href="http://www.lmba.lt/en/news/new-tool-assessing-academic-journals" title="New tool assessing academic journals">New tool assessing academic journals. Lithuanian Research Library Consortium</a></li>
                <li><a href="http://openaccess.nl/nl/actueel/qoam-informatie-over-kwaliteit-oa-journals" title="Dutch National Open Access website">Dutch National Open Access website</a></li>
                <li><a href="http://oapus.nl/programs/under-consideration/authorship-in-transition/" title="Open Access Publishing Services">Open Access Publishing Services</a></li>
                <li><a href="http://www.sciencemag.org/content/338/6110/1018.summary" title="As Open Access Explodes, How to Tell the Good From the Bad and the Ugly?">As Open Access Explodes, How to Tell the Good From the Bad and the Ugly?</a> <a href="https://www.sciencemag.org/author/martin-enserink" title="Martin Enserink">Martin Enserink</a></li>
            </ul>            


            <h3>Publications</h3>
            
            <ul>
                <li>
                    <a href="~/Content/documents/16-06-21-QOAM-sustainability-plan.pdf" target="_blank" title="QOAM sustainability plan">QOAM sustainability plan</a>. <a href="http://www.pleiade.nl/" title="Pleiade Management and Consultancy BV">Pleiade Management and Consultancy BV</a>
                    <br />
                    An international expert workshop was held to discuss the possibilities for an economic model to sustain QOAM – Quality Open Access Market. The report addresses the following questions:
                    <ol>
                        <li>What are the stakeholders for QOAM?</li>
                        <li>What is the value proposition of QOAM for each stakeholder group?</li>
                        <li>What is the (estimated) willingness-to-pay for each stakeholders group?</li>
                        <li>What is/should be the positioning of QOAM in the landscape of OA infrastructure?</li>
                        <li>What steps are needed to realise an economic model for QOAM?</li>
                        <li>Which functionality has to be added to QOAM in view of the earlier defined value propositions for the various stakeholder groups?</li>
                    </ol>
                    <br />
                </li>
                <li>
                    <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0147913" title="Peer Review Quality and Transparency of the Peer-Review Process in Open Access and Subscription Journals. Jelte Wicherts">Peer Review Quality and Transparency of the Peer-Review Process in Open Access and Subscription Journals</a>. <a href="https://www.tilburguniversity.edu/webwijs/show/j.m.wicherts.htm" title="Jelte Wicherts">Jelte Wicherts</a>
                    <br />
                    The transparency of the peer-review process can be seen as an indicator of peer-review quality allowing the tool to be used to predict academic quality in new journals. The ‘tool’ is a 14-item questionnaire, developed to rate the transparency of the peer-review process on the basis of journals’ websites. In QOAM the tool has been implemented as Base Score Card.
                    <br /><br />
                </li>
                <li>
                    <a href="~/Content/documents/15-10-03-Flyer-OA-week-2015.pdf" target="_blank" title="QOAM Flyer Open Access week 2015">QOAM Flyer Open Access week 2015</a>
                    <br /><br />
                </li>
                <li>
                    <a href="http://liber.library.uu.nl/index.php/lq/article/view/9911/10463" title="Danielle van Gerestein. Quality Open Access Market and Other Initiatives: A Comparative Analysis">Danielle van Gerestein. Quality Open Access Market and Other Initiatives: A Comparative Analysis</a>
                    <br />The article analyses the following initiatives:
                    <ul style="margin-top: 0">
                        <li><a href="http://www.doaj.org/" title="Directory of Open Access Journals (DOAJ)">Directory of Open Access Journals (DOAJ)</a></li>
                        <li><a href="http://www.journalreviewer.org/index.php" title="JournalReviewer">JournalReviewer</a></li>
                        <li><a href="http://www.scirev.sc/" title="SciRev">SciRev</a></li>
                        <li><a href="http://www.journalysis.org/" title="Journalysis">Journalysis</a></li>
                        <li><a href="http://www.journalguide.com/" title="JournalGuide">JournalGuide</a></li>
                        <li><a href="http://www.pre-val.org/" title="PRE-val">PRE-val</a></li>
                        <li><a href="http://www.eigenfactor.org/openaccess/" title="Eigenfactor.org">Eigenfactor.org</a></li>
                    </ul>
                    <br />
                </li>
                <li>
                    <a href="https://openaccess.leidenuniv.nl/handle/1887/28943" title="Methods to stop predatory journals. Margot Wehrmeijer">Methods to stop predatory journals. Margot Wehrmeijer</a>
                    <br />
                    This thesis looks at three possible methods to stop predatory journals: black- and white-lists, open peer review systems and new metrics. Black- and whitelists have set up rules and regulations that credible publishers and journals should follow. Open peer review systems should make it harder for predatory publishers to make false claims about their peer review process. Metrics should measure more aspects of research impact and become less liable to gaming. The question is, which of these three methods is the best candidate to stop predatory journals. As all three methods have their drawbacks, especially for new but high quality journals, none of them stop predatory journals on its own can. Rather, we need a system in which researchers, publishers and reviewers communicate more openly about the research they create, disseminate and read. But above all, we need to find a way to take away incentives for researchers and publishers to engage in fraudulent practices.
                </li>
            </ul>

          </div>
    </div>
</div>