@using QOAM.Website.Resources
@model HandleErrorInfo

@{
    ViewBag.Title = ViewStrings.Error_Title;
}

<div class="container">
    <h1>@ViewBag.Title.</h1>
    
    @Bootstrap.Error(ViewStrings.Error_Text)
</div>