<?xml version="1.0"?>
<saml2>
  <allowedAudienceUris>
    <audience uri="https://www.qoam.eu/tst/" />
  </allowedAudienceUris>
  <serviceProvider id="https://www.qoam.eu/tst/" server="https://localhost:44310/">
    <signingCertificate findValue="E=info@qoam.nl, CN=qoam.nl, O=qoam.nl, C=NL" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" />
    <nameIdFormats allowCreate="true">
      <add format="urn:oasis:names:tc:SAML:2.0:nameid-format:persistent"/>
    </nameIdFormats>
    <endpoints>
      <endpoint localPath="Login.ashx" type="SignOn" redirectUrl="~/account/login/callback" />
      <endpoint localPath="Logout.ashx" type="Logout" redirectUrl="~/" />
      <endpoint localPath="Metadata.ashx" type="Metadata" />
    </endpoints>
  </serviceProvider>
  <identityProviders metadata="D:\UCI projecten\qoam\Website\App_Data\Metadata">
    <add id="https://www.qoam.eu/idp/tst/" default="true">
      <certificateValidations>
        <add type="SAML2.Specification.SelfIssuedCertificateSpecification, SAML2" />
      </certificateValidations>
    </add>
  </identityProviders>
  <metadata>
    <organization name="QOAM" displayName="QOAM" url="https://www.qoam.eu" />
    <contacts>
      <contact type="Administrative" givenName="Leo" surName="Waaijers" email="leowaa@xs4all.nl" />
      <contact type="Technical" givenName="Erik" surName="Schierboom" email="e.schierboom@ru.nl" company="Radboud University" />
    </contacts>
    <requestedAttributes>
      <add name="displayName" isRequired="true" />
      <add name="mail" isRequired="true" />
      <add name="schacHomeOrganization" isRequired="true" />
      <add name="eduPersonTargetedID" isRequired="true" />
    </requestedAttributes>
  </metadata>
  <actions>
    <clear />
    <action name="SetSamlPrincipal" type="QOAM.Website.Models.SAML.SamlPrincipalAction, QOAM.Website" />
    <action name="FormsAuthentication" type="QOAM.Website.Models.SAML.FormsAuthenticationAction, QOAM.Website" />
    <action name="Redirect" type="SAML2.Actions.RedirectAction, SAML2" />
  </actions>
</saml2>