<?xml version="1.0"?>
<surfContext
    clientId="oamarket"
    clientSecret="TOffM704G5EBPTz1vZdKlbLgAZMNSPIL" 
    accessTokenUrl="https://api.surfconext.nl/v1/oauth2/token" 
    authorizeUrl="https://api.surfconext.nl/v1/oauth2/authorize" 
    profileUrl="https://api.surfconext.nl/v1/social/rest/people/@me" />
