<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings configSource="ConnectionStrings.Release.config" xdt:Transform="SetAttributes" />
    <nlog configSource="NLog.Release.config" xdt:Transform="SetAttributes" />
    <oamarket>
        <contact configSource="Contact.Release.config" xdt:Transform="SetAttributes" />
        <ulrichs configSource="Ulrichs.Release.config" xdt:Transform="SetAttributes" />
    </oamarket>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <machineKey configSource="MachineKey.Release.config" xdt:Transform="SetAttributes" />
    </system.web>
</configuration>