<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <oamarket xdt:Transform="Replace">
        <contact configSource="Contact.config" />
        <ulrichs configSource="Ulrichs.config" />
        <doaj csvUrl="http://www.doaj.org/doaj?func=csv" />
        <journaltocs sui="z7CsvQxb1udh849067j6" ip="3" baseUrl="http://www.journaltocs.ac.uk/API" allJournalsEndpoint="/QOAM.php" byIssnEndpoint="/RSS/GetJournalByIssn.php" test="false" />
        <general scoreCardLifeTime="730.00:00:00" />
        <generalImport batchSize="100" />
    </oamarket>

    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>