<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net452" />
  <package id="coveralls.net" version="0.6.0" targetFramework="net45" />
  <package id="FsCheck" version="2.15.1" targetFramework="net452" />
  <package id="FsCheck.Xunit" version="2.15.1" targetFramework="net452" />
  <package id="FSharp.Core" version="4.7.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.16.1" targetFramework="net452" />
  <package id="MvcRouteTester.Mvc5.2" version="2.0.1" targetFramework="net452" />
  <package id="NBuilder" version="6.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="OpenCover" version="4.7.922" targetFramework="net452" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="StudioDonder.MvcContrib.Mvc4.TestHelper" version="3.0.0.99" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net452" requireReinstallation="true" />
  <package id="WebActivator" version="1.2.0.0" targetFramework="net45" />
  <package id="xunit" version="2.4.1" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net452" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net452" />
  <package id="xunit.core" version="2.4.1" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net452" />
  <package id="xunit.runner.console" version="2.4.1" targetFramework="net452" developmentDependency="true" requireReinstallation="true" />
</packages>