@{
    ViewBag.Title = "Institution(s) added";
}

<div class="container main">

    <p>
        The institutions have been added successfully.
    </p>
    
    @Html.ActionLink("Back to admin", "Index")
</div>