@{
    ViewBag.Title = "Institution added";
}

<div class="container main">

    <p>
        The institution has been added successfully.
    </p>
    
    @Html.ActionLink("Back to admin", "Index")
</div>