@model QOAM.Website.ViewModels.Import.ImportedViewModel

@{
    ViewBag.Title = "Journals import result";
}

<div class="container main">
    
    @if (Model.ImportedISSNs.Any()) {
        <p>
            The journals with the following ISSNs were successfully imported:
        </p>

        <ul>
            @foreach (var issn in Model.ImportedISSNs) {
                <li>@issn</li>
            }
        </ul>
    } 
    
    @if (Model.UpdatedISSNs.Any()) {
        <p>
            The journals with the following ISSNs were successfully updated:
        </p>

        <ul>
            @foreach (var issn in Model.UpdatedISSNs) {
                <li>@issn</li>
            }
        </ul>
    }
    
    @if (Model.NotFoundISSNs.Any()) {
        <p>
            The journal with the following ISSNs were not imported as they could not be found:
        </p>

        <ul>
            @foreach (var notFoundISSN in Model.NotFoundISSNs) {
                <li>@notFoundISSN</li>
            }
        </ul>
    }
</div>