
@{
    ViewBag.Title = "Institution deleted";
}

<div class="container main">
    <div class="row side">
        <a class="btn btn-default return-button" title="Back to institutions" href="@Url.Action("Index", "Institutions")">&lt; Back to Institutions</a>
        <p>
            <strong>The institution was succesfully deleted.</strong>
        </p>
    </div>
</div>
