@model QOAM.Website.ViewModels.Import.MoveScoreCardsViewModel

@{
    ViewBag.Title = "Remove duplicate journals";
}

<div class="container main">

    <h2>@ViewBag.Title</h2>

    <div class="alert alert-danger alert-dismissible" role="alert">
        Please note that this step cannot be undone!
    </div>

    <div class="col-lg-10">
        <input id="remove-duplicates" type="submit" value="Start removing duplicates" class="btn btn-primary" />
        <span id="status-message" style="display: none;">Working... </span><span id="status"></span>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            var adminController = new AdminController();
            adminController.removeDuplicates();
        });
    </script>
}


