@using RU.Uci.OAMarket.Website.Resources

@{
    ViewBag.Title = ViewStrings.Home_ContactSent_Title;
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>
        @ViewStrings.Home_ContactSent_Text
    </p>
</div>