@{
    ViewBag.Title = "Press";
}

<div class="container main">
    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("_SidebarMenu", "Press"); }
        </div>
        <div class="col-md-9">
            <h2>@ViewBag.Title</h2>

            <h3>Interesting links</h3>
            
            <ul>
                <li><a href="http://www.sciencemag.org/content/338/6110/1018.summary" title="As Open Access Explodes, How to Tell the Good From the Bad and the Ugly?">As Open Access Explodes, How to Tell the Good From the Bad and the Ugly?</a></li>
            </ul>
        </div>
    </div>
</div>