@model QOAM.Website.ViewModels.BonaFideJournals.BonaFideJournalsViewModel

<div class="row">
    <div class="col-md-9">
        <h3>
            @Model.Journals.TotalItemCount journals;
            <a id="blue-journals" href="#" class="blue">Blue</a>;
            <a id="lightblue-journals" href="#" class="lightblue">Light blue</a>;
            <a id="grey-journals" href="#" class="grey filter">Grey</a>
        </h3>
    </div>
</div>