.fullWidth {
    width: 100%;
    max-width: 100%;
}

.minHeight {
    min-height: 200px;
}

.vcenter {
    display: flex;
    align-items: center;
    height: 34px;
}

.red {
    color: red;
    font-weight: bold;
}

.multiline {
    white-space: pre-line;
    margin-top: -30px;
}

.scoringbuttons {
  font-size: 12px;
  text-align: left;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}

.vertical-align > [class^="col-"] > img,
.vertical-align > [class*=" col-"] > img {
    min-width: 37px;
    width: 37px;
}

.not-flex {
    display: block !important;
}

#ModelMessage {
    display: none;
}
