<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <saml2 configSource="Saml2.Staging.config" xdt:Transform="SetAttributes" />
    <connectionStrings configSource="ConnectionStrings.Staging.config" xdt:Transform="SetAttributes" />
    <oamarket>
        <surfContext configSource="SurfConext.Staging.config" xdt:Transform="SetAttributes" />
        <contact configSource="Contact.Staging.config" xdt:Transform="SetAttributes" />
        <ulrichs configSource="Ulrichs.Staging.config" xdt:Transform="SetAttributes" />
    </oamarket>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <machineKey configSource="MachineKey.Staging.config" xdt:Transform="SetAttributes" />
    </system.web>
</configuration>